@model IEnumerable<POS.Models.Salary>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="mb-4">Salary Table</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table id="table" class="table">
    <thead>
        <tr>
            <th>
                Employee Code
            </th>
            <th>
                Name
            </th>
            <th>
                Cash Advance
            </th>
            <th>
                Total Hours
            </th>
            <th>
                Net Salary
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>Actions </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CashAdvance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormattedGrandTotalHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrandTotalSalary)
            </td>
                <td>
                    <form asp-action="UpdateStatus" method="post">
                        <input type="hidden" name="salaryId" value="@item.SalaryId" />
                        <select class="form-select" name="status" id="statusSelect" onchange="this.form.submit(); updateSelectColor(this);">
                            <option value="" selected disabled>Unpaid</option>
                            <option value="Paid" selected="@(item.Status == "Paid")">Paid</option>
                        </select>
                    </form>
                </td>
            <td>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.SalaryId">View Payslip</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.SalaryId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<script>
    function updateSelectColor(select) {
        if (select.value === "Unpaid") {
            select.style.color = "red";
        } else {
            select.style.color = "green";
        }
    }

    // Apply the correct color on page load
    document.addEventListener("DOMContentLoaded", function () {
        updateSelectColor(document.getElementById("statusSelect"));
    });
</script>