@model IEnumerable<POS.Models.Dtr>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="mb-4">Daily Time Record</h1>

<p>
    <a class="btn btn-primary" asp-action="Create" data-bs-toggle="modal" data-bs-target="#addModal">Create New</a>
</p>
<!-- ADD MODAL FORM -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Daily Time Record</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("Create", new Dtr())
            </div>
        </div>
    </div>
</div>
<table id="table" class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Employee Code
            </th>
            <th>
                Name
            </th>
            <th>
                Date
            </th>
            <th>
                Time In
            </th>
            <th>
                Time Out
            </th>
            <th>
                Total Hours
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {  
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.DtrId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmployeeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                @item.DtrDate.ToString("MM/dd/yyyy")
            </td>
            <td>
                @item.TimeIn.ToString("hh:mm tt")
            </td>
            <td>
                @(item.TimeOut?.ToString("hh:mm tt") ?? "N/A")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormattedHours) Hrs|Min
            </td>
            <td>

                <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editModal-@item.DtrId">Edit</button>
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.DtrId">Delete</a>
            </td>
        </tr>
            <!-- EDIT MODAL FORM -->
            <div class="modal fade" id="editModal-@item.DtrId" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel">Edit Position & Salary</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            @await Html.PartialAsync("Edit", new Dtr()
                           {
                               DtrId = item.DtrId,
                               EmployeeId = item.EmployeeId,
                               DtrDate = item.DtrDate,
                               TimeIn = item.TimeIn,
                               TimeOut = item.TimeOut
                           })
                        </div>
                    </div>
                </div>
            </div>
        }
    </tbody>
</table>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}